/* facebook style profile image upload*/
#profileImg {
	cursor: pointer;
}

.profile-image {
	cursor: pointer;
}

.profile-image-loading {
	height: auto !important;
	width: 200px !important;
	cursor: pointer;
	margin-top: 101px;
}

/*.hidden {display:none;}
.active {display:block;position:absolute; top:-100px;}*/

/* Display browse button on hover*/
#profile a {
	display: table;
	vertical-align: middle;
	text-align: center;
	position: relative;
}

#profile span {
	display: none;
}

#profile a:hover span {
	width: 100%;
	height: 100px;
	line-height: 100px;
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	text-align: center;
	background: rgba(0, 0, 0, 0.9);
}

span b {
	font-size: 1.5em;
	color: #fff;
	font-family: sans-serif;
}
